@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

*{
    padding: 0;
    margin: 0;
    color:white;
    font-family: 'Poppins', sans-serif;
    
}
body{
    background-image: url("/assets/images/loginBackground.png");
    background-size: cover;
    height: 97vh;
}
 .nav{
    margin-top:1rem;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
 }
 .brand p{
    font-family: "Kaushan Script";
    padding: 1rem;
    font-size: 2em;

}
.pages ul{
    /* margin-right:80px; */
    display: flex;
    list-style: none; 
    flex-wrap: wrap;
}
.pages ul li{
    margin: 1rem 1.9rem;
    padding: 0 1rem;
    font-size: 1.4rem;
}
.pages ul li:hover{
    border-radius: 20px;
    border-bottom: 3px solid #068af0;
}

.containerlgn{
    position: relative;
    max-width: 410px !important;
    height: 450px !important;
    background-color: transparent !important;
    border: 2px solid rgba(11, 95, 190, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7rem auto; 
    overflow: hidden; 
    transform: scale(1);
    transition: transform .5s ease, height .2s ease;
} 
.containerreg{
    position: relative;
    max-width: 410px !important;
    height: 450px !important;
    background-color: transparent !important;
    border: 2px solid rgba(11, 95, 190, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7rem auto; 
    overflow: hidden; 
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
} 
.card{
    width: 100%;
    padding: 40px;
    backdrop-filter: blur(20px);
    background-color: transparent !important;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}
h1{
    text-align: center;
    color:#f2f2f2 !important;
 }
 .inp_box{
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #1d669e;
    margin: 30px 0;
}
.inp_box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: rgb(200,200,200);
    font-weight: 600;
}
.inp_box input::placeholder{
    color: rgb(211, 211, 211);
}
.btn-login{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #ffffff;
    font-weight: 500;
}
.btn-login:hover{
    background-color: #068af0;
}
.rememberme{
    display: flex;
    justify-content: space-between;
    margin:1rem 0rem;
    font-size: 15px;
}
.rememberme label,.rememberme a {
    text-decoration: none;
    color: rgb(190,190,190);
}

.register{
    text-align: center;
    margin-top:15px;
}
.register p{
    color: #068af0;
}
.register p a{
    text-decoration: none;
    color: rgb(200,200,200);
}
.register p a:hover{
    text-decoration: underline;
    color: #fff;
}
.btnLoginPopup{
    margin:0.7rem 0;
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #ffffff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2em;
    color: #ffffff;
    font-weight: 500;
    transition: .5s;
}
.btnLoginPopup:hover{
    background: #ffffff;
    color: #1776d6;
}
.container1{
    width:310;
    height:500px;
}

@media((max-width: 600px)){
    #background-video {
        background-size:;
    }
    .pages ul li {
        margin: 10px 12px;
        padding:0;
        font-size: small;
    }
    .btnLoginPopup{
            font-size: small;
            width: 80px;
            height: 30px;
        }
}